# BFF Server Configuration
BFF_HOST=10.80.238.178
BFF_PORT=1244
BFF_RELOAD=false

# GMS Legacy Socket Configuration
GMS_IP=10.80.227.230
GMS_PORT=24245
GMS_CLIENT_CODE=MEKTEC
GMS_CHANNEL_ID=11111

# Logging
LOG_LEVEL=INFO
