<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <!-- Enable WebSocket proxying so Socket.IO works through IIS -->
        <webSocket enabled="true" />
        <httpPlatform processPath="C:\Windows\py.exe"
            arguments="-3.10 -m uvicorn main:socket_app --host 0.0.0.0 --port %HTTP_PLATFORM_PORT% --ws websockets"
            stdoutLogEnabled="true"
            stdoutLogFile=".\logs\iis_uvicorn.log"
            startupTimeLimit="120"
            startupRetryCount="3"
            requestTimeout="00:05:00"
            processesPerApplication="1">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="." />
                <environmentVariable name="BFF_PORT" value="%HTTP_PLATFORM_PORT%" />
                <environmentVariable name="BFF_RELOAD" value="false" />
                <environmentVariable name="PYTHONUNBUFFERED" value="1" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>