<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="C:\Path\To\Python\python.exe"
            arguments="-m uvicorn main:socket_app --port %HTTP_PLATFORM_PORT% --host 0.0.0.0"
            stdoutLogEnabled="true"
            stdoutLogFile=".\logs\python.log"
            startupTimeLimit="120"
            requestTimeout="00:05:00"
            processesPerApplication="1">
            <environmentVariables>
                <environmentVariable name="BFF_PORT" value="%HTTP_PLATFORM_PORT%" />
                <environmentVariable name="BFF_RELOAD" value="false" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>